## This Script will generate a dataframe for the mass and spin of the objects in a binary compact system based on the detected error range.

Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
global lengthOfDataSet 
lengthOfDataSet = 25

This function will generate random numbers within the range and return a Pandas Dataframe containing.

In [3]:
def generateData(lowerRange, upperRange, columnName, precision):
  arr = np.random.uniform(lowerRange, upperRange,size = (lengthOfDataSet + 15, 1)).flatten()
  for _ in range (len(arr)):
    arr[_] = np.round(arr[_], precision)
  # will only keep unique values
  arr = list(set(arr))
  # replacing last 5 values to have variety in the data
  # arr[lengthOfDataSet-1 : lengthOfDataSet + 4] = arr[-1:-6]
  arr = arr[:lengthOfDataSet]
  sortedArray = np.sort(arr)
  return pd.DataFrame(sortedArray, columns = [columnName],index = None)

Upper and Lower error limits of the mass and spin

In [4]:
m1Upper = 39.4 + 5.5
m1Lower = 39.4 - 4.9

m2Upper = 30.9 + 4.8
m2Lower = 30.9 - 4.4

a1Upper = 0.32 + 0.45
a1Lower = 0.32 - 0.28

a2Upper = 0.57 + 0.40
a2Lower = 0.57 - 0.51 

spin_precision = 2
mass_precision = 1

Creating columns

In [5]:
m1 = pd.DataFrame(generateData(m1Lower, m1Upper, "Primary Mass", mass_precision))
m2 = pd.DataFrame(generateData(m2Lower, m2Upper, "Secondary Mass", mass_precision))
a1 = pd.DataFrame(generateData(a1Lower, a1Upper, "Primary Spin", spin_precision))
a2 = pd.DataFrame(generateData(a2Lower, a2Upper, "Secondary Spin", spin_precision))

Merging into a single dataframe

In [6]:
columns = [m1, m2, a1, a2]
dataframe = pd.concat(columns, axis=1)
dataframe.head(25)

    Primary Mass  Secondary Mass  Primary Spin  Secondary Spin
0           34.5            26.7          0.09            0.06
1           34.6            27.3          0.12            0.16
2           34.9            27.6          0.16            0.18
3           35.2            27.7          0.19            0.20
4           35.4            28.0          0.20            0.23
5           35.5            28.1          0.23            0.25
6           35.6            28.3          0.25            0.26
7           35.7            28.9          0.26            0.29
8           35.8            29.1          0.29            0.36
9           36.2            29.4          0.32            0.43
10          36.4            29.6          0.35            0.44
11          36.6            29.8          0.36            0.53
12          37.2            30.2          0.37            0.60
13          37.9            30.4          0.41            0.61
14          38.5            30.7          0.43            0.62
15          38.9            31.5          0.45            0.65
16          39.4            32.3          0.49            0.67
17          39.8            33.3          0.52            0.79
18          40.2            33.7          0.53            0.80
19          41.4            33.8          0.54            0.82
20          41.7            34.0          0.68            0.84
21          42.2            34.1          0.70            0.86
22          42.7            34.2          0.73            0.89
23          43.6            35.4          0.75            0.92
24          44.8            35.6          0.77            0.95

Convert the DF to a csv file and save it

In [9]:
import os
path = ' '
dataframe.to_csv(os.path.join(path,'data.csv'), index = None)